Свежие новости

<%@posts.each do |post|%>
====================================
	<%=post.title%>
	-------------------
	<%= post.preview%>
	-------------------
		<a href="http://loft-leshoz.ru/news/<%=post.id%>"> Посмотреть полностью</a>

====================================
<%end%>