<a name="install"></a>	
<div class='installator'>	
	<h3>Как использовать установщик</h3>
	<%@post=InfoPost.find_by_title('Как использовать установщик')%>
	<%unless @post.nil?%>
		<div class='row row-marg' style='margin-bottom:10px;'>
				<article>
					<%= raw @post.content%>
				</article>	
							
		</div>
	<%end%>
</div>