<div class='question'>
	<h3>Заключить договор на поставку программных продуктов</h3>
	<div class='row span8 row-marg'>
		<h4>Анкета для заключения договора</h4>
			<div class='line_items'>
					<%if @products.empty?%>
						Программ пока нет
					<%else%>
									<div id='item_form' >
										<%= render :partial =>'orders/form', :locals=>{:order=>Order.new,:products=>@products}%>
									</div>
					<%end%>	
	</div>
</div>

		