<section class="section-content section-sidebar-content">
    <div class="container">
      <h2 class="section-title">
        Вы вошли как <%= @user.email%>
      </h2>
      <div class="row">
        <div class="span3">
          <aside>
            <div class="widget">
              <div class="widget-content">
                <ul class="unstyled button_tab">
                <li><a class='btn active_btn'id='free_download'>Скачать бесплатно</a></li>  
                <li><a class='btn'id='prices'>Цены</a> </li>
                <li><a class='btn'id='how_to'>Как купить и установить</a> </li>
                <li><a class='btn'id='question'>Заключить договор</a> </li>
                <li><a class='btn'id='installator'>Скачать инталлятор</a> </li>
                <li><a class='btn'id='contract'>Мой договор</a> </li>
                </ul>
              </div>
            </div>
           </aside>
         </div>
        <div class="span8 offset1"id='acc_block'>
         <%= render :partial=>'free_download'%>
        </div>
      </div>
    </div>
  </section>
  <%content_for :footer do%>
  <span><!--@--></span>
  <%end%>