<footer class="section-color-primarydark">
 <div class="container">
      <div class="row">
        <div class='span1'></div>
        <div class="span3">
          <div class="widget">
            <address>
              <strong>ООО «Лофт»</strong>
              <br>
              156000, г.Кострома
              <br>
              ул.Горная, д.3
              <br>
              <abbr title="Телефон">Телефон:</abbr>
              <a>8(4942)31-02-09</a>
            </address>
          </div>
        </div>
        <div class="span3">
          <div class="widget">
            <h5>подписаться на новости </h5>
            <p>Следите за последними обновлениями</p>
            <span id='news-letter'>
             <%= render :partial => 'subscribers/form', :locals=>{:subscriber=>Subscriber.new}%>
            </span>
          </div>
        </div>
       
        <div class="span3">
          <div class="widget">
            <h5>Свяжитесь с нами</h5>
            <div class='contact-feed'>
            <%= render :partial =>'feedbacks/form', :locals=>{:feedback=>Feedback.new}%>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>