<section class="section-content section-jumbotron" id="section-jumbotron">
	<div class="container">
	      <div class="row">
	        <div class="span5 offset1">
	          <img alt="" src="assets/img/ipad.png">
	        </div>
	        <div class="span5 _offset1">
	        	<div class='slogan2'>	
	        	</div>
	        	<%unless current_user%>
				<span id='not_a_form'>
			        <%= render :partial => 'devise/registrations/form', :locals=>{:resource=>User,:resource_name=>User.new}%>
			    </span>
			    <%end%>
			</div>
		</div>
	</div>
</section>
<%content_for :footer do%>
	<span></span>
	<%end%>