<h4>Поступил новый отзыв</h4>
<br />
<br />
<br />
<br />
<h5>Посетитель сайта <%=@feedback.fio%> <br />
	написал:

	<p>
		<%= @feedback.message%>
	</p>	

	<br />
	<P>
		Ответить ему >>> <%=mail_to @feedback.email, @feedback.email%>
	</P>

</h5>
