<p>Ваша заявка получена и находится на рассмотрении.
Вскоре с вами свяжется наш менеджер по предоставленным вами контактам.</p>
<p>Если вы хотите изменить данные заказа , свяжитесь с нами через форму обратной связи нашего сайта.</p>
<li><%= @order.email%></li>
<li><%= @order.name%></li>