<%= form_for subscriber, :class=>'form-vertical',:id=>'newsletter-form',:remote => true do |f| %>
		<div class='contro-group'>
		<label for="contact-name-surname"></label>
	     <%= f.email_field :email ,:class=>"span3", :id=>'newsletter-email', :placeholder=> 'email'%>

	          <span class='help-inline subscr'>
	          		<%= render :partial=>'subscribers/errors'%>
	          	
	    	  </span>
	     </div>

        	<%= f.submit :value=>'Подписаться', :class=>'btn btn-amall'%>	
		 
	  

<% end %>