<section class="section-content section-about" id="section-about">
    <div class="container">
      <h2 class="section-title">
        О компании
      </h2>
      <div class="row">
        <div class="span4">
          <figure>
            <img alt="" src="/assets/img/gallery/16rct-l.jpg">
          </figure>
        </div>
        <div class="span8">
          <blockquote>
            <p class="lead">
              ООО «Лофт» специализируется на услугах по инвестиционному и бизнес консультированию, управлению проектами, связанными с недвижимостью и лесным хозяйством. 
          </blockquote>
          <div class="row">
            <div class='span8'>
            	ООО «Лофт» разработано и реализуется специализированное программное обеспечение для автоматизации расчета затрат на выполнение лесохозяйственных работ.
 Команда экспертов ООО «Лофт» состоит из профессиональных консультантов, сочетающих блестящее образование, и практический опыт в реализации проектов, связанных с недвижимостью и лесным хозяйством.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<%content_for :footer do %>
<span></span>
<%end%>