// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)
.order_info{
	width: 500px;
	float: left;
}
.order_items{
	width: 400px;
	float: right;
}
.order_all{
	width: 1000px;
	height: auto;
	display: inline-block;
}
#index_footer li {
	display: inline;
}
.user_info{
	width: 40%;
	float: left;
}
.user_orders{
	float:left;
	width: 40%;
	margin-left: 100px !important;
}
 .lk_create{
 	text-decoration: none !important;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    display: inline-block;
    font-weight: bold !important;
    font-size: 1.0em !important;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px !important;
    padding: 7px 16px 6px !important;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    background: #838a90;
    background: -webkit-linear-gradient(-90deg, #838a90, #414549);
    background: -moz-linear-gradient(-90deg, #838a90, #414549);
    background: linear, -90deg, #838a90, #414549;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
    text-shadow: black 0 1px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    border: solid 1px #484e53;
    border-color: #484e53;
    border-top-color: #616a71;
    border-right-color: #484e53;
    border-bottom-color: #363b3f;
    border-left-color: #484e53;
    color: #efefef !important;
    cursor: pointer;
  }
 #order_status_input{
    float: left;
    width: 350px !important;
 }
  #order_status_input ol{
    width: 200px;
    padding-left: 50% !important;
  }
  .order-number{
    display: none;
    width: 200px;
    float: left;
  }
  .order-number label, .order-date label {
    width: 100px !important;
  }
  .order-date{
    display:none;
     width: 200px;
     margin-left: -220px !important;
     margin-top: 70px !important;
     float: left;
  }
  .order-date label {
    width: 200px !important;
  }
  .create-order{
    display: block !important;
  }