/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require jquery.ui.all
 *= require responsive
 *= require style-t1
 *= require jquery.toastmessage
 *= require_tree ./font

 */
.spoiler-wrap{
    background: none repeat scroll 0 0 rgb(252, 252, 252);
    border-color: #C3CBD1;
    border-style: solid;
    border-width: 1px 1px 1px 2px;
    margin: 6px;
    width: 90%;
  }
.lft{
	margin-left: 5px;
}
.folded {
background: url("/assets/icon_plus_1.gif") no-repeat scroll left center transparent;
display: block;
padding-left: 14px;
}
.unfolded {
background: url("/assets/icon_minus_1.gif") no-repeat scroll left center transparent;
display: block;
padding-left: 14px;
}
.spoiler-head {
font-size: 11px;
line-height: 15px;
margin-left: 6px;
padding: 1px 14px 3px;
cursor: pointer;
width: 97%;
}
.field_with_errors {
  display: inline;
}