p Hello  @resource.email!
p Для сброса пароля  воспользуйтесь ссылкой:
p 
	= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @token) 

p Если вы не запрашивали эти данные, просто проигнорируйте данное письмо.
p Ваш пароль не изменится, пока вы не перейдёте по ссылке выше, и создадите новый.
