<p>Hello <%= @resource.email %>!</p>

<p>Для сброса пароля  воспользуйтесь ссылкой:</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если вы не запрашивали эти данные, просто проигнорируйте данное письмо.</p>
<p>Ваш пароль не изменится, пока вы не перейдёте по ссылке выше, и создадите новый.</p>
