section class="section-content section-services" id="section-services"
  div class="container"
    div class="row"
      div class="span3"
        h2 class="section-title"
          span Программы
          small Здесь представлены наши программные продукты
      div class="span9"
        div class="row"
          - @materials.each do |material|
            div class="span3"
              div class="text-center"
                figure
                  a href="/programms/#{material.id}"
                    i class="icon-cogs icon-8x icon-border"
                h4
                  = link_to material.name, "/programms/#{material.id}" 
                  p
                    = material.preview
/section
section class="section-content section-clients-on-carousel section-color-graylighter" id="section-clients-on-carousel"
  div class="container"
    div class="row"
      div class="span3"
        h2 class="section-title"
          span Клиенты
          small
      div class="span9"
        div class="row"
          div class="carousel carousel-mini slide" data-pause="true" id="myCarouselClients"
            div class="carousel-nav"
              div class="btn-group"
                a class="btn btn-link btn-small" data-slide="prev" href="#myCarouselClients"
                  i class="icon-chevron-left"
                a class="btn btn-link btn-small" data-slide="next" href="#myCarouselClients"
                  i class="icon-chevron-right"
            div class="carousel-inner"
              - unless @clients.empty?
                - arr=[]
                - j=0
                - j_max = @clients.size
                - while j!=3
                  - arr << clients.shift
                  - j+=1
                div class="item active"
                  - arr.each do |client|
                    - unless client.nil?
                      div class="span3"
                        figure class="hover-figcaption"
                          span
                            = image_tag client.photo.url(:medium)
                              div class="figcaption"
                                strong client.name
                - unless clients.empty?
                  div class="item"
                    clients.each do |client|
                      div class="span3"
                        figure class="hover-figcaption"
                          span 
                            = image_tag client.photo.url(:medium)
                              div class="figcaption"
                                strong client.name
= content_for :footer do 
  span