<section class="section-content section-content-sidebar">
    <div class="container">
      <h2 class="section-title">
        <%=@material.name%>
      </h2>
      <div class="row">
        <div class="span8">
          <article>
            <%= raw @material.description%>
          </article>
        </div>
        <div class="span3 offset1">
          <aside>

            <div class="widget">
              <h5 class="widget-title">Особенности программы</h5>
              <div class="widget-content">
                <p> Здесь вы узнаете, почему именно эта  программа нужна вам</p>
                <%=link_to "Посмотреть",programs_features_path%>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title">Материалы для скачивания</h5>
              <div class="widget-content">
                <ul class="unstyled">
                    <%@material.releases.all.each do |prog|%>
                        <li><%=link_to prog.alter_name, prog.release.url%></i>
                    <%end %>
                </ul>
              </div>
            </div>
       
          </aside>
        </div>
      </div>
    </div>
  </section>
  <%content_for :footer do %>
    <span></span>
  <%end%>